@media (max-width:1220px) {

    #oot {
        height: 40px;
        width: 13%;
        margin: 2%;
        font-size: 80%;
    }

    .opt {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #subn {
        position: relative;
        width: 33%;
        height: 43%;
    }

    p {

        margin: 2%;
    }

    #hhh1 {
        position: relative;
        margin: 7%;

    }

}

@media (max-width:999px) {


    p {

        font-size: 85%;
    }

    #subn {
        width: 33%;
        height: 46%;
    }

    #hhh1 {
        margin-top: 10%;
        font-size: 80%;
    }

    h2 {

        text-align: center;
    }

   
}

@media (max-width:620px) {
    #top{
        margin-top: 5%;
    }

  
 
}
@media (max-width:376px)
{  
    body
    {
        background-color: red;
    }
   p{
    font-size: 10px;
   }
   h2
   {
    font-size: 15px;
   }
   #hhh1
   {
    background-color: aqua;
    width: 80%;
    height: 80%;
   }

}
@media (max-width:820px)
{  
  #subn {
    height: 26%;
    width: 50%;
}
}
@media (max-width:540px)
{
   
  #subn {
    height: 46%;
    width: 50%;
}
}
@media (max-width:280px)
{
    
    #subn {
        height: 52%;
        width: 70%;
    }
}
@media (max-width:1024px)
{
    
    #subn {
        height: 40%;
        width: 36%;
    }
    #hhh1 {
        margin-top: 2%;
        font-size: 83%;
    }

}
